{% extends "base.html" %}
{% load static %}
{% block title %}{{ user.username }}{% endblock %}
{% block content %}
<main class="pt-24 px-6 max-w-7xl mx-auto h-screen flex flex-col gap-10">
    <!-- Header: justify-between -->
    <div class="flex items-center justify-between w-full">
        <h1 class="text-4xl font-bold">{{ user.username }}</h1>
        <a href="{% url 'index' %}" class="flex items-center text-blue-600 hover:text-blue-800">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-1">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"/>
            </svg>
            Back to Home
        </a>
    </div>

    <!-- Content: justify-center -->
    <div class="flex items-center w-full flex-col gap-20">
        <div class="grid grid-cols-2 gap-10 items-center justify-between w-full">
            <a href="{% url 'order_list' %}" class="flex flex-col items-center">
                <img src="{% static 'images/orders.png' %}" alt="orders" class="w-20 h-10">
                <span>Your Orders</span>
            </a>

            <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"/>
                </svg>
                Update your Information
            </a>
        </div>
        <div class="grid grid-cols-2 gap-10 items-center justify-between w-full">
            <a href="{% url 'user_Payments' user.id %}" class="flex flex-col items-center w-full">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z"/>
                </svg>
                Your Transactions
            </a>
        </div>
    </div>

</main>
{% endblock %}
