{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>wishlist</title>
    <script src="https://cdn.tailwindcss.com/3.4.16"></script>
    <link rel="icon" href="{% static 'images/logo.png' %}">
</head>
<body class="bg-gray-100 min-h-screen font-sans">

<div class="max-w-6xl mx-auto px-4 py-8">
    <!-- Header -->
    <div class="flex items-center justify-between mb-6">
        <h1 class="text-3xl font-bold text-gray-800">My Wishlists</h1>
        <a href="{% url 'index' %}" class="inline-flex items-center text-blue-600 hover:text-blue-800">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"/>
            </svg>
            Back to Home
        </a>
    </div>
    {% if wishlist_items %}
    <div class="bg-white shadow-md rounded-lg overflow-hidden">
        <table class="min-w-full table-auto text-sm">
            <thead class="bg-gray-200 text-gray-700 uppercase text-xs">
            <tr>
                <th class="px-6 py-3 text-left">Product Name</th>
                <th class="px-6 py-3 text-left">Quantity</th>
                <th class="px-6 py-3 text-left">Amount</th>
            </tr>
            </thead>
            <tbody class="text-gray-700 divide-y divide-gray-200">
            {% for items in wishlist_items %}
            <tr class="hover:bg-gray-50">
                <td class="px-6 py-4 font-medium">{{ items.product.name }}</td>
                <td class="px-6 py-4">{{ items.product.qty }}</td>
                <td class="px-6 py-4 font-medium">{{ items.product.sales_price }}</td>
                <td>
                    <a href="{% url 'remove_from_wishlist_items' items.product.id %}">Remove</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>No products in wishlist</p>
    {% endif %}
</div>
</body>
</html>
